.chart-card{
  padding:30px;

  margin-top:30px;
}

.chart-placeholder{
  height:350px;

  border-radius:20px;

  display:flex;

  justify-content:center;
  align-items:center;

  background:
    linear-gradient(
      135deg,
      rgba(99,102,241,0.2),
      rgba(6,182,212,0.2)
    );

  font-size:22px;

  color:var(--text-secondary);
}